<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
{% extends 'polls/base.html' %}

{% block content %}
{% load staticfiles %}

<style>
.texte {text-align:justify; font-family:Monaco; font-size:18px;}
</style>

<div class="container" style="">

<div class="col-md-6 col-md-offset-3">
<div class="texte">
58 Degrés Galbés c'est ...<br>
beaucoup de chaleur, beaucoup de muscles, une petite maison de micro-édition, une asso, des encres, des racles, des typons, des taches, des gribouillis, de la colle, des collages un prétexte pour se faire de nouveaux potes, des pas, des premiers pas, des faux pas, des thèmes mais pas trop, des tôles, des taches, des gribouillis, des belles images, des cartes postales, des copains, des affiches, des carnets, des idées, des erreurs, des tuyaux, des vieux paris match, des taches, une question, un poème, un mojito en terrasse, une couleur cool. <br>
Mais surtout beaucoup de chaleur et beaucoup de muscles.
</div>
</div>

</div>

{% endblock content %}
