{% load staticfiles %}

<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
<script type="text/javascript" src=" {% static "js/jquery-2.0.2.js" %}"> </script>
<script type="text/javascript" src=" {% static "js/bootstrap.min.js" %}"> </script>

<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<style>
body { padding-top: 0px; }
.logo-adresse {color:#ec19b1 !important; font-family:Monaco;}
.header_menu { color:#ec19b1; font-size:16px; font-family:Monaco;}
.color-icon {color:#ec19b1 !important; text-decoration:none !important;}
.adresse1 {color:black; font-family:Monaco;letter-spacing:3.1;}
.adresse2 {color:black; font-family:Monaco;letter-spacing:0.3;font-size:16px;}

.date {color:#ec19b1; font-family:Monaco;font-size:19px;}

.listing_title { color:#ec19b1; font-size:35px; text-align:center }
.carousel_control {background: white !important;}
.carousel_arrow {color:#ec19b1;}
.toggle_page {margin-top:0px;}
.mail_header {color:black;letter-spacing:1.15;font-size:14px;font-family:Monaco;}
.fst_header{font-size:28px;text-align:center;}

.header_menu_vertical { color:#ec19b1; font-size:25px; font-family:Monaco;}
.header_menu_vertical_small { color:#ec19b1; font-size:16px; font-family:Monaco;}
.header_a {padding:7px !important; padding-bottom:2px !important;}

@media (max-width: 768px) {
  .to_hide_on_small {
    visibility: hidden !important;
	display: none !important;
  }
}

@media (max-width: 932px) {
  .only_desktop {
    visibility: hidden !important;
	display: none !important;
  }
  .ma_navbar {margin-top:0px;}
}

@media (min-width: 768px) {
  .ma_navbar {margin-top:107px; !important}
}

</style>

<nav class="navbar navbar-default navbar-fixed-top visible-desktop visible-phone" style="background-color:transparent;margin-bottom:0px;border:none" id="topnavbar">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li><!--a href="/_58deg" class="logo-adresse"--> 
					<div style="font-size:12px;width:200px;line-height:150%;margin-top:10px;" class="logo-adresse">
						<div class="fst_header"> <a href="/_58deg"> <img src="/static/img/logo_header_58degresgalbes.jpg" style="width:60%;" >  </a></div>
						<div style="line-height:125%">
							<div class="mail_header to_hide_on_small">58degres.galbes@gmail.com</div>
							<div class="date_heure to_hide_on_small">
								<span id="date_heure_id1" class="date" style="display:inline-block;width:45%"></span><span class="adresse"> _ </span><span id="date_heure_id2" class="date" style="display:inline-block;width:45%;text-align:right"></span>
							</div> 
							<!--div class="adresse1 to_hide_on_small"> 2 rue Philippe Noiret</div-->
							<div class="adresse2 to_hide_on_small"> :81600 GAILLAC FRANCE</div>

						</div>
					</div>
				<!--/a-->
					<!--div> 
							<span style="display:inline-block;width:33%;text-align:center">
								<a href="https://www.facebook.com/58-Degrés-Galbés-1495466197418887/" target="_blank"> <i class="fa fa-facebook"></i> </a>
							</span> 
							<span style="display:inline-block;width:33%;text-align:center">
								<a href="http://58degres-galbes.tumblr.com" target="_blank"> <i class="fa fa-tumblr"></i> </a>
							</span>
					</div-->
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right ma_navbar" style="margin-right:0px;">
			<li><a href="/_58deg/art/58deg" class="header_a"> <div class="header_menu"> 58°Galbés </div></a> </li>
			<li><a href="/_58deg/atelier" class="header_a"> <div class="header_menu"> L'atelier </div></a> </li>
			<li><a href="/_58deg/en-ce-moment" class="header_a"> <div class="header_menu"> En ce moment </div></a> </li>
			<li><a href="/_58deg/les-copains" class="header_a to_hide_on_small"> <div class="header_menu"> Les copains </div></a> </li>
			<li><a href="#" class="header_a"> <div class="header_menu"> Shop </div></a></li>
			<li><a href="http://58degres-galbes.tumblr.com" target="_blank" class="header_a only_desktop"><div class="header_menu" > Blog </div></a></li>
			<li><a href="/_58deg/contact" class="header_a"> <div class="header_menu"> Contact </div></a> </li>
		</ul>
	
	</div>
	
	<div style="line-height:150% ; border-top:1px solid #e7e7e7;" test="margin-bottom:2px;margin-top:-19px;margin-left:20px">
								<span style="display:inline-block;margin-left:20px">
									<a href="https://www.facebook.com/58-Degrés-Galbés-1495466197418887/" target="_blank"> <i class="fa fa-facebook color-icon"></i> </a>
								</span> 
								<span style="display:inline-block;margin-left:10px;">
									<a href="http://58degres-galbes.tumblr.com" target="_blank"> <i class="fa fa-tumblr color-icon"></i> </a>
								</span> 
								<span style="display:inline-block;margin-left:10px;">
									<a href="http://instagram.com/58degres.galbes" target="_blank"> <i class="fa fa-instagram color-icon"></i> </a>
								</span> 
</div>

	</nav>


<!--script type="text/javascript">window.onload = date_heure('date_heure_id');</script-->
<script>

function date_heure(id1, id2)
{
        date = new Date;
        annee = date.getFullYear();
        moi = date.getMonth() + 1;
        mois = new Array('Janvier', 'F&eacute;vrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Ao&ucirc;t', 'Septembre', 'Octobre', 'Novembre', 'D&eacute;cembre');
        j = date.getDate();
        jour = date.getDay();
        jours = new Array('Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi');
        h = date.getHours();
        if(h<10)
        {
                h = "0"+h;
        }
        m = date.getMinutes();
        if(m<10)
        {
                m = "0"+m;
        }
        s = date.getSeconds();
        if(s<10)
        {
                s = "0"+s;
        }
		if(moi<10)
		{
			moi = "0"+moi;
		}
		if(j<10)
		{
			j = "0"+j;
		}
        //resultat = 'Nous sommes le '+jours[jour]+' '+j+' '+mois[moi]+' '+annee+' il est '+h+':'+m+':'+s;
		resultat1 = j+'.'+moi+'.'+annee;
		resultat2 = h+':'+m+':'+s;
        document.getElementById(id1).innerHTML = resultat1;
		document.getElementById(id2).innerHTML = resultat2;
        setTimeout('date_heure("'+id1+'","'+id2+'");','1000');
}

$(".toggle_menu").click(function() {
  $(".toggle_page").hide()
  if (!$this.hasClass('active')) {
            $this.addClass('active');
  }
});

$(document).ready(function() { 

date_heure('date_heure_id1', 'date_heure_id2');
        $(document.body).css('padding-top', $('#topnavbar').height() + 5);
        $(window).resize(function(){
            $(document.body).css('padding-top', $('#topnavbar').height() + 5);
        });

});


</script>



{% block content %}
            {% endblock %}