<meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
{% extends 'polls/base.html' %}

{% block content %}
{% load staticfiles %}
<style>

</style>

<div id="listing" class="toggle_page" style="height:100%;margin-top:150px">

	<!--div class="col-md-2" style="padding-top:15px">
		<div style="vertical-align:top;display:inline-block">
			<ul class="nav nav-pills nav-stacked"> <li><a href="/art/58deg"><div class="header_menu_vertical">58°Galbés</div></a></li> </ul>
		</div>
		<div>
	
		<ul class="nav nav-pills nav-stacked" style="display:inline-block;padding-top:0px">
		
			<li><a href="/art/clem" class="a_li_vertical"><div class="header_menu_vertical_small">Clem</div></a></li>
			<li><a href="/art/loule" class="a_li_vertical"><div class="header_menu_vertical_small">Loule</div></a></li>
			<li><a href="/art/tibs" class="a_li_vertical"><div class="header_menu_vertical_small">Tib's</div></a></li>
			
		</ul>
		</div>
	</div-->
	<div class="col-md-12" style="">
		{% for i in project_list %}
		{% if forloop.counter0|divisibleby:4 %}
		<div class="row">
		{% endif %}
		<div class="col-md-3 images"> <a href="/art/{{artist}}/{{i}}/"> <img src="/static/{{artist}}/{{i}}.jpg" style="width:100%;margin-bottom:20px" alt="{{i}}"></a></div>
		{% if forloop.counter|divisibleby:4 %}
		</div>
		{% endif %}
		{% endfor %}

	</div>
</div>


{% endblock content %}
